[versions]
bouncycastle = '1.70'
fileupload = '0.0.5'
jetty = '9.4.46.v20220331'
managed-alexa-ask-sdk = "2.43.2"
managed-aws-java-sdk-v1 = '1.12.201'
managed-aws-java-sdk-v2 = '2.17.172'
managed-aws-lambda = '1.2.1'
managed-aws-lambda-events = '3.11.0'
managed-aws-serverless-core = '1.8'
managed-aws-cdk-lib='2.20.0'
servlet-api = "2.5"
slf4j = "1.7.36"

[libraries]

aws-cdk-lib = { module = 'software.amazon.awscdk:aws-cdk-lib', version.ref = 'managed-aws-cdk-lib' }

alexa-ask-sdk = { module = 'com.amazon.alexa:ask-sdk', version.ref = 'managed-alexa-ask-sdk' }
alexa-ask-sdk-apache-client = { module = 'com.amazon.alexa:ask-sdk-apache-client', version.ref = 'managed-alexa-ask-sdk' }

aws-ssm = { module = 'software.amazon.awssdk:ssm' }
awssdk-apache-client = { module = 'software.amazon.awssdk:apache-client' }
awssdk-dynamodb = { module = 'software.amazon.awssdk:dynamodb' }
awssdk-netty-nio-client = { module = 'software.amazon.awssdk:netty-nio-client' }
awssdk-rekognition = { module = 'software.amazon.awssdk:rekognition' }
awssdk-s3 = { module = 'software.amazon.awssdk:s3' }
awssdk-secretsmanager = { module = 'software.amazon.awssdk:secretsmanager' }
awssdk-servicediscovery = { module = 'software.amazon.awssdk:servicediscovery' }
awssdk-ses = { module = 'software.amazon.awssdk:ses' }
awssdk-sns = { module = 'software.amazon.awssdk:sns' }
awssdk-sqs = { module = 'software.amazon.awssdk:sqs' }
awssdk-ssm = { module = 'software.amazon.awssdk:ssm' }
awssdk-url-connection-client = { module = 'software.amazon.awssdk:url-connection-client' }

boms-aws-java-sdk-v1 = { module = 'com.amazonaws:aws-java-sdk-bom', version.ref = 'managed-aws-java-sdk-v1' }
boms-aws-java-sdk-v2 = { module = 'software.amazon.awssdk:bom', version.ref = 'managed-aws-java-sdk-v2' }

bouncycastle-provider = { module = 'org.bouncycastle:bcprov-jdk15on', version.ref = 'bouncycastle'}
fileupload = { module = 'org.javadelight:delight-fileupload', version.ref = 'fileupload' }
graal = { module = "org.graalvm.nativeimage:svm" }
groovy-json = { module = 'org.codehaus.groovy:groovy-json' }
jackson-afterburner = { module = 'com.fasterxml.jackson.module:jackson-module-afterburner' }
jetty-server = { module = 'org.eclipse.jetty:jetty-server', version.ref = 'jetty' }
jcl-over-slf4j = { module = 'org.slf4j:jcl-over-slf4j', version.ref = 'slf4j' }
jupiter-engine = { module = 'org.junit.jupiter:junit-jupiter-engine' }

managed-alexa-ask-sdk-core = { module = 'com.amazon.alexa:ask-sdk-core', version.ref = 'managed-alexa-ask-sdk' }
managed-alexa-ask-sdk-lambda = { module = 'com.amazon.alexa:ask-sdk-lambda-support', version.ref = 'managed-alexa-ask-sdk' }
managed-aws-java-sdk-core = { module = 'com.amazonaws:aws-java-sdk-core', version.ref = 'managed-aws-java-sdk-v1' }
managed-aws-lambda-core = { module = 'com.amazonaws:aws-lambda-java-core', version.ref = 'managed-aws-lambda'}
managed-aws-lambda-events = { module = 'com.amazonaws:aws-lambda-java-events', version.ref = 'managed-aws-lambda-events'}
managed-awssdk-secretsmanager = { module = 'software.amazon.awssdk:secretsmanager', version.ref = 'managed-aws-java-sdk-v2' }
managed-aws-serverless-core = { module = 'com.amazonaws.serverless:aws-serverless-java-container-core', version.ref = 'managed-aws-serverless-core' }
managed-jcl-over-slf4j = { module = 'org.slf4j:jcl-over-slf4j', version.ref = 'slf4j' }

micronaut-discovery-client = { module = 'io.micronaut.discovery:micronaut-discovery-client' }
micronaut-function = { module = 'io.micronaut:micronaut-function' }
micronaut-function-client = { module = 'io.micronaut:micronaut-function-client' }
micronaut-function-groovy = { module = 'io.micronaut.groovy:micronaut-function-groovy' }
micronaut-function-web = { module = 'io.micronaut:micronaut-function-web' }
micronaut-http-client = { module = 'io.micronaut:micronaut-http-client' }
micronaut-http-netty = { module = 'io.micronaut:micronaut-http-netty' }
micronaut-http-server = { module = 'io.micronaut:micronaut-http-server' }
micronaut-http-server-netty = { module = 'io.micronaut:micronaut-http-server-netty' }
micronaut-graal = { module = 'io.micronaut:micronaut-graal' }
micronaut-inject-java = { module = 'io.micronaut:micronaut-inject-java' }
micronaut-mongo-sync = { module = 'io.micronaut.mongodb:micronaut-mongo-sync' }
micronaut-runtime = { module = 'io.micronaut:micronaut-runtime' }
micronaut-runtime-groovy = { module = 'io.micronaut.groovy:micronaut-runtime-groovy' }
micronaut-security = { module = 'io.micronaut.security:micronaut-security' }
micronaut-test-junit5 = { module = 'io.micronaut.test:micronaut-test-junit5' }
micronaut-validation = { module = 'io.micronaut:micronaut-validation' }
micronaut-views-handlebars = { module = 'io.micronaut.views:micronaut-views-handlebars' }

projectreactor = { module = 'io.projectreactor:reactor-core' }
servlet-api = { module = 'javax.servlet:servlet-api', version.ref = 'servlet-api' }
testcontainers = { module = 'org.testcontainers:testcontainers' }
testcontainers-mongodb = { module = 'org.testcontainers:mongodb' }
testcontainers-spock = { module = 'org.testcontainers:spock' }
